/*u-title*/
.u-title{
	border-bottom: 2px  dashed #087590;
	color: #FF004E;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	padding: .5em;
}


/*MainMenu*/
.MainMenu{
	 background: #087590;
	 height: 3.75em;
	 left: 0;
	 right: 0;
	 position: fixed;
	 text-align: center;
	 top: 0;
}
.MainMenu-list{
	margin: 0;
	padding: 0;
}
.MainMenu-item{
	display: inline-block;
}
.MainMenu-link{
	color: #D9364D;
	margin-right: 2em;
	text-decoration: none;
	line-height: 3.75em;
}
.MainMenu-link:hover{
	color: white;
}
/*Header*/
.Header{
	margin-top: 3.75em;
	background-image: url('../img/headerFondo.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 0.5em 0;
	text-align: center;
}
.header-imagen{
	border: 3px solid #017D8B;
	border-radius: 50%;
}
.Header-link,.Header-nombre{
	color: #EFEACE;
	text-decoration: none;
}
.Header-link{
	font-size: 1.5em;
	font-weight: bold;
}
.Header-nombre{
	font-size: 1.3em;
	font-weight: 300;
	margin: 0;
}
/*Profile*/
.Profile{
	text-align: center;
}
.Profile-link{
	display: inline-block;
	background: orange;
	border-radius: 2em;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	margin-right: 1em; 
	margin-top: .5em;

}
/*.Work*/
.Work{
	margin: 1em;
	text-align: center;
}
.Work-imagenContainer{
	margin:0;
}
.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}
.Work-description{
	font-size: 1.1em;
	font-style: italic;
	color:orange;

}
/*footer*/
.Footer{
	background-image: url('../img/headerFondo.jpeg');
	background-repeat: no-repeat; 
	background-position: center;
	background-size: 100%;
	padding: 2em 0;
	text-align: center;
} 
.Footer-form{
	display: inline-block;
	text-align: center;
	padding-left: .9em;
}
.Footer-letf{
	display: inline-block;
	width: 32em;
	text-align: center;
	vertical-align: top;
}
.Footer-formInput,.Footer-textarea{
	background: white;
	border: none; 
	display: block;
	border-radius: 1em;
	padding: .5em;
	margin: 0 auto 1em;
}
.Footer-textarea{
	resize: none;
}
.Footer-button{
	background: orange;
	border: none;
	color: white;
	border-radius:1em;
	padding: .5em .7em;
}
.Footer-title,.Footer-description{
	color: white;
}